/* Add a black background color to the top navigation */
.topnav {
    background-color: #323232;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #10B0F5;
      color: white;
    }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2FDDF8;
    color: white;
  }
  
  p {
    background-color: #323232;
    width: 600px;
    position: relative;
    left: 660px; 
    color: white;
    text-align: center;
    border: 2px solid #2FDDF8;
    border-radius: 25px
  }

  h1 {
    background-color: #323232;
    width: 600px;
    position: relative;
    left: 660px; 
    color: white;
    text-align: center;
    font-size: larger;
    border: 2px solid #2FDDF8;
    border-radius: 25px
  }